* {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Montserrat";
}

.top {
    background-image: url(img/head.jpg);
    height: 1024px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding-right: calc(50% - 600px);
    padding-left: calc(50% - 600px);
}

.title {
    font-style: normal;
    font-weight: 700;
    font-size: 64px;
    line-height: 78px;
    display: flex;
    align-items: center;
    color: #FFFFFF;
    padding-top: 217.1px;
    padding-right: 350px;
}

.title__text {
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 32px;
    display: flex;
    align-items: center;
    color: #FFFFFF;
    padding-top: 32px;
}

.strong-text {
    font-weight: 700;
}

.title__button {
    margin-top: 44px;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #9C0332;
    border-radius: 30px;
    color: #FFFFFF;
    width: 234.06px;
    height: 48.6px;
}

.title__button_a {
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #9C0332;
    border-radius: 30px;
    color: #FFFFFF;
    width: 234.06px;
    height: 48.6px;
    text-decoration: none;
}

.content {
    display: flex;
    gap: 32px;
    padding-right: 120px;
    padding-left: 120px;
    background-image: url(img/hesd2.jpg);
    height: 556px;
    padding-right: calc(50% - 600px);
    padding-left: calc(50% - 600px);
}

.content__play {
    width: 379px;
    height: 300px;
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 32px;
    display: flex;
    align-items: flex-end;
    color: #FFFFFF;
    border-radius: 16px;
    margin-top: 128px;
}

.content__link {
    color: #fff;
    text-decoration: none;
    background-image: url(img/play1.jpg);
    background-repeat: no-repeat;
    width: 379px;
    height: 300px;
}

.content__link_second {
    color: #fff;
    text-decoration: none;
    background-image: url(img/play2.jpg);
    background-repeat: no-repeat;
    width: 379px;
    height: 300px;
}

.content__link_third {
    color: #fff;
    text-decoration: none;
    background-image: url(img/play3.jpg);
    background-repeat: no-repeat;
    width: 379px;
    height: 300px;
}

.content__text {
    padding-bottom: 32px;
    padding-left: 32px;
}

.container {
    display: flex;
    gap: 135px;
    padding-right: 120px;
    padding-left: 120px;
    background-image: url(img/head3.jpg);
    height: 800px;
    padding-right: calc(50% - 600px);
    padding-left: calc(50% - 600px);
}

.container__heading {
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 59px;
    display: flex;
    align-items: center;
    color: #FFFFFF;
    flex: none;
    order: 0;
    flex-grow: 0;
    padding-bottom: 32px;
}

.container__text {
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 32px;
    display: flex;
    align-items: center;
    color: #FFFFFF;
    flex: none;
    order: 1;
    flex-grow: 0;
}